@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Pacifico&family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Pacifico&family=Rubik+Bubbles&family=Titan+One&display=swap");

h2 {
  font-family: Titan one;
}

li {
  margin: 5px;
  width: calc(33% - 10px);
  min-width: 150px;
}
