<div class="p-5 contentXD">
  <mat-dialog-content>
    <h2 class="sm:text-4xl text-3xl border-b-2 border-gray-400 text-blue-950">
      Habilidades
    </h2>

    <mat-card *ngFor="let category of skills" class="mt-[10px]">
      <mat-card-header>
        <mat-card-title>
          <h2 class="text-2xl text-blue-900">
            {{ category.name }}
          </h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ol class="flex flex-wrap">
          <li
            *ngFor="let skill of category.skills"
            class="flex items-center border-2 border-blue-300 p-2 rounded-full"
          >
            <img
              class="w-[30px] h-[30px] mr-2"
              [src]="skill.img"
              [alt]="skill.name"
            />
            <h4 class="font-bold">{{ skill.name }}</h4>
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>

  <div class="flex justify-center mt-2">
    <button appBtn [white]="false" mat-dialog-close>Cerrar</button>
  </div>
</div>
