<div class="flex justify-end">
  <img
    [src]="urlImg"
    (click)="playMusicFunction()"
    class="w-[70px] h-[70px] cursor-pointer m-5 IMGICON fixed"
  />
</div>

<audio
  src="./assets/music/Heroes.mp3"
  #audio
  [hidden]="true"
  (ended)="audio.play()"
></audio>
<section class="w-screen h-screen background" (mousemove)="getMousePos($event)">
  <section
    class="w-full h-full flex justify-center items-center absolute top-0"
  >
    <div class="flex justify-center flex-wrap z-[-20]">
      <h2 class="text-white z-[-20] w-full text-center text-3xl">
        Bienvenido, soy
      </h2>
      <img class="w-[300px] h-[300px]" src="./assets/img/gbLOGO.svg" alt="" />

      <!-- <h4 class="text-white sm:text-4xl text-2xl">Soy Gabriel Valdez</h4> -->
    </div>
  </section>
  <canvas #canvas></canvas>
</section>
