<section class="w-screen h-screen background" (mousemove)="getMousePos($event)">
  <section
    class="w-full h-full flex justify-center items-center absolute top-0"
  >
    <div class="flex justify-center flex-wrap z-[-20]">
      <div class="w-[300px] h-[300px] bg-white rounded-full ball">
        <div class="w-full flex justify-center mt-[70px]">
          <div class="w-[50px] h-[150px] mx-3 eye"></div>
          <div class="w-[50px] h-[150px] mx-3 eye"></div>
        </div>
      </div>
      <h2 class="text-white z-[-20] w-full text-center text-7xl">
        Bienvenidos
      </h2>
    </div>
  </section>
  <canvas #canvas></canvas>
</section>
