section {
  clip-path: polygon(
    0% 7.5%,
    0.5% 7.874843769530088%,
    1% 8.248750624851212%,
    1.5% 8.620785993551994%,
    2% 8.990019980962959%,
    2.5% 9.355529694408922%,
    3% 9.716401549960047%,
    3.5% 10.071733555915886%,
    4% 10.420637567314879%,
    4.5% 10.762241505834226%,
    5% 11.095691539531522%,
    5.5% 11.420154216979943%,
    6% 11.734818550462764%,
    6.5% 12.038898043020298%,
    7% 12.331632654282682%,
    7.5% 12.612290700175006%,
    8% 12.88017068174642%,
    8.5% 13.134603038552196%,
    9% 13.374951822206125%,
    9.5% 13.600616285920303%,
    10% 13.811032386059225%,
    10.5% 14.005674191955126%,
    11% 14.184055200460765%,
    11.5% 14.345729551953907%,
    12% 14.490293144754197%,
    12.5% 14.617384645166897%,
    13% 14.726686390628949%,
    13.5% 14.817925183699943%,
    14% 14.890872974913451%,
    14.5% 14.945347432781913%,
    15% 14.98121239953041%,
    15.5% 14.998378231420178%,
    16% 14.996802022811288%,
    16.5% 14.976487713404392%,
    17% 14.937486078393514%,
    17.5% 14.879894601554527%,
    18% 14.803857231586463%,
    18.5% 14.709564022314748%,
    19% 14.597250657655609%,
    19.5% 14.46719786252902%,
    20% 14.319730701192613%,
    20.5% 14.155217764750315%,
    21% 13.974070249866553%,
    21.5% 13.776740930988733%,
    22% 13.563723028646926%,
    22.5% 13.335548976659409%,
    23% 13.092789091325402%,
    23.5% 12.836050145931333%,
    24% 12.565973854133633%,
    24.5% 12.283235266008777%,
    25% 11.988541080779672%,
    25.5% 11.682627880435627%,
    26% 11.366260288660982%,
    26.5% 11.04022905967412%,
    27% 10.705349101753724%,
    27.5% 10.362457440392488%,
    28% 10.012411126169289%,
    28.5% 9.656085092569084%,
    29% 9.294369969104867%,
    29.5% 8.928169855207702%,
    30% 8.558400060449003%,
    30.5% 8.185984816743279%,
    31% 7.811854968249678%,
    31.5% 7.436945644746386%,
    32% 7.062193924293149%,
    32.5% 6.688536491024187%,
    33% 6.316907293925638%,
    33.5% 5.948235212449502%,
    34% 5.5834417347987655%,
    34.5% 5.22343865468678%,
    35% 4.869125792327851%,
    35.5% 4.521388745355301%,
    36% 4.181096675288607%,
    36.5% 3.849100135082255%,
    37% 3.5262289431862994%,
    37.5% 3.213290109432422%,
    38% 2.9110658179296083%,
    38.5% 2.620311472011245%,
    39% 2.3417538061201966%,
    39.5% 2.076089069351159%,
    40% 1.8239812851905386%,
    40.5% 1.5860605918035373%,
    41% 1.362921667016923%,
    41.5% 1.1551222419341511%,
    42% 0.9631817068980886%,
    42.5% 0.7875798132856238%,
    43% 0.6287554743790882%,
    43.5% 0.48710566831163205%,
    44% 0.36298444582862993%,
    44.5% 0.25670204534520874%,
    45% 0.16852411751177243%,
    45.5% 0.09867106122572605%,
    46% 0.04731747274901693%,
    46.5% 0.014591709308404144%,
    47% 0.0005755682692437647%,
    47.5% 0.00530408268466509%,
    48% 0.02876543373119489%,
    48.5% 0.07090098024965047%,
    49% 0.13160540531750642%,
    49.5% 0.21072697948634395%,
    50% 0.3080679400264616%,
    50.5% 0.4233849852307006%,
    51% 0.5563898825420066%,
    51.5% 0.7067501889847166%,
    52% 0.8740900820988515%,
    52.5% 1.05799129930056%,
    53% 1.2579941833207406%,
    53.5% 1.473598831108831%,
    54% 1.7042663433300964%,
    54.5% 1.9494201713332924%,
    55% 2.2084475582220606%,
    55.5% 2.480701070428035%,
    56% 2.7655002159575877%,
    56.5% 3.06213314526743%,
    57% 3.369858430517718%,
    57.5% 3.687906918755562%,
    58% 4.01548365439682%,
    58.5% 4.351769866201053%,
    59% 4.69592501377323%,
    59.5% 5.047088888476945%,
    60% 5.404383763508056%,
    60.5% 5.766916587754559%,
    61% 6.133781217959281%,
    61.5% 6.5040606836061245%,
    62% 6.8768294788687765%,
    62.5% 7.251155875893324%,
    63% 7.626104253632623%,
    63.5% 8.000737436411667%,
    64% 8.374119036378703%,
    64.5% 8.74531579398718%,
    65% 9.113399910658618%,
    65.5% 9.477451367795839%,
    66% 9.836560226350334%,
    66.5% 10.189828901196002%,
    67% 10.536374404624487%,
    67.5% 10.875330553354633%,
    68% 11.205850133539561%,
    68.5% 11.527107018360084%,
    69% 11.838298232911502%,
    69.5% 12.13864596122268%,
    70% 12.427399490390918%,
    70.5% 12.703837086973227%,
    71% 12.96726780094407%,
    71.5% 13.217033192710584%,
    72% 13.45250897886865%,
    72.5% 13.67310659258629%,
    73% 13.878274654714232%,
    73.5% 14.067500351946618%,
    74% 14.240310718587201%,
    74.5% 14.39627381871728%,
    75% 14.53499982581054%,
    75.5% 14.656141997096361%,
    76% 14.759397540236147%,
    76.5% 14.8445083701465%,
    77% 14.911261754077502%,
    77.5% 14.959490843333821%,
    78% 14.989075090309537%,
    78.5% 14.999940549794392%,
    79% 14.99206006379829%,
    79.5% 14.965453329432151%,
    80% 14.920186849675364%,
    80.5% 14.856373767152997%,
    81% 14.774173581338149%,
    81.5% 14.67379174988632%,
    82% 14.555479175098299%,
    82.5% 14.419531576795052%,
    83% 14.266288753172201%,
    83.5% 14.096133731481487%,
    84% 13.909491810662102%,
    84.5% 13.70682949831488%,
    85% 13.488653344676177%,
    85.5% 13.255508676506157%,
    86% 13.00797823405585%,
    86.5% 12.74668071452001%,
    87% 12.472269225616376%,
    87.5% 12.185429653156444%,
    88% 11.886878946688212%,
    88.5% 11.577363327495663%,
    89% 11.257656423434135%,
    89.5% 10.928557335263669%,
    90% 10.590888639313174%,
    90.5% 10.245494331468084%,
    91% 9.893237717620142%,
    91.5% 9.534999255852245%,
    92% 9.171674355751858%,
    92.5% 8.804171140353251%,
    93% 8.433408176302963%,
    93.5% 8.060312177921512%,
    94% 7.685815690900184%,
    94.5% 7.31085476142256%,
    95% 6.9363665965364305%,
    95.5% 6.563287221624358%,
    96% 6.192549140827653%,
    96.5% 5.825079006271621%,
    97% 5.461795301917932%,
    97.5% 5.1036060478329475%,
    98% 4.751406530610537%,
    98.5% 4.406077065621805%,
    99% 4.06848079668509%,
    99.5% 3.7394615386560197%,
    100% 3.4198416683297266%,
    100% 100%,
    0% 100%
  );
}

h1,
h2 {
  font-family: Titan One;
}
p {
  font-family: "Times New Roman", Times, serif;
}
